* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  background-color: #fff;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 8px;
}

.cell:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.message {
  display: none;
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}

.message button {
  margin-top: 10px;
}


.player-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.player {
    text-align: center;
}

.player h3 {
    margin-bottom: 10px;
    color: #555;
}

.disp-div {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}

/* Play Screen */

.play-modal, .result-modal {
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    margin: auto auto;
}

.play-modal::backdrop {
    background: rgba(0, 0, 0, 0.9);
}

.play-modal h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.play-modal p {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.play-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}